@import '../color-library';

$accent: #572648;

$bodyContent-header-color: $accent;
$bodyContent-link-color: #800080;

$navigation-link-color: $accent;

$landscapeSearch-advancedSearchLink-color: $accent;

$secondaryFooter-background-color: $accent;
$secondaryFooter-text-color: $white;
$secondaryFooter-link-color: $white;

