@import '../color-library';

$accent: #a45d0e;
$muted-accent: #562E18;

$navigation-link-color: #845600;

$landscapeSearch-searchButtonBackground-color: #0A4064;

$bodyContent-header-color: $muted-accent;

$property-contactUsBackground-color: $landscapeSearch-searchButtonBackground-color;

$primaryFooter-background-color: #845600;

$secondaryFooter-background-color: #DAC694;
$secondaryFooter-text-color: $muted-accent;
$secondaryFooter-link-color: $bodyContent-header-color;
