@import '../color-library';

$accent: #a45d0e;
$muted-accent: #562E18;

$body-sideBackground-color: $muted-accent;

$landscapeSearch-searchButtonBackground-color: #A96500;

$bodyContent-header-color: #8D1114;

$primaryFooter-background-color: $accent;

$secondaryFooter-background-color: #F1EABC;
$secondaryFooter-text-color: $muted-accent;
$secondaryFooter-link-color: $bodyContent-header-color;

