@import '../color-library';

$accent: #EC8600;
$muted-accent: #5f5f5f;

$navigation-background-color: white;
$navigation-link-color: #67717B;

$landscapeSearch-searchButtonBackground-color: $accent;

$searchResults-subBarCallToActionLink-color: darken($blue, 10);
$searchResults-informationLink-color: darken($blue, 10);

$secondaryFooter-background-color: #67717B;
$molly-footerTopBorder-color: $secondaryFooter-background-color;
$secondaryFooter-text-color: darken(white, 5);
$secondaryFooter-link-color: darken(white, 5);

