@import '../color-library';

$accent: #3D6596;

$navigation-link-color: $accent;
$navigation-linkHover-color: lighten($accent, 20);

$landscapeSearch-searchButtonBackground-color: $orange;
$landscapeSearch-advancedSearchLink-color: $accent;

$secondaryFooter-background-color: darken(#E7E0CE, 5);
$secondaryFooter-text-color: $black;
$secondaryFooter-link-color: $accent;
