@import '../color-library';

$accent: #286e8d;

$body-sideBackground-color: $dark-grey;

$navigation-link-color: $dark-grey;

$landscapeSearch-searchButtonBackground-color: $dark-grey;

$molly-footerTopBorder-color: $grey-sidebg;