@import '../color-library';

$redacc: #B40101;
$accent: #0154A0;
$muted-accent: #828282;

$navigation-link-color: $accent;

$landscapeSearch-searchButtonBackground-color: $green;
$landscapeSearch-advancedSearchLink-color: $mute-blue;

$searchResults-subBarCallToActionLink-color: $accent;
$searchResults-informationLink-color: $accent;

$property-mortgageCalculatorButtonBackground-color: $black;

$primaryFooter-background-color: $redacc;

$secondaryFooter-background-color: $accent;

$molly-footerTopBorder-color: #888;

