@import '../color-library';

$accent: darken($blue, 10);

$navigation-link-color: darken($blue, 30);

$landscapeSearch-advancedSearchLink-color: $navigation-link-color;

$primaryFooter-background-color: darken($blue, 30);

$secondaryFooter-background-color: white;
$secondaryFooter-text-color: $black;
$secondaryFooter-link-color: darken($blue, 10);
$secondaryFooter-topBorder-color: darken($blue, 33);

$rgFooter-background-color: darken(white, 10);
$rgFooter-text-color: $black;

$body-sideBackground-color: darken($accent, 30);
$molly-footerSideBorder-color: darken($body-sideBackground-color, 10);
