@import '../color-library';

$accent: #286e8d;
$muted-accent: $accent;

$landscapeSearch-searchButtonBackground-color: #175977;

$molly-footerTopBorder-color: #f1e7bf;

$body-sideBackground-color: $grey-sidebg;