@import '../color-library';

$accent: darken(#B40101, 10);
$muted-accent: #666;

$body-sideBackground-color: $accent;

$landscapeSearch-searchButtonBackground-color: #560003;

$navigation-link-color: #560003;

$searchResults-subBarCallToActionLink-color: darken($muted-accent, 20);
$searchResults-informationLink-color: darken($muted-accent, 20);

$property-contactUsBackground-color: $orange;
$property-mortgageCalculatorButtonBackground-color: $black;

$secondaryFooter-background-color: white;
$secondaryFooter-text-color: $black;
$secondaryFooter-link-color: $accent;

$rgFooter-background-color: darken(white, 10);
$rgFooter-text-color: $black;

