@import 'color-library';

$accent: darken(#B40101, 10);
$muted-accent: #666;

$navigation-link-color: #560003;

$landscapeSearch-searchButtonBackground-color: #560003;
$landscapeSearch-advancedSearchLink-color: darken($muted-accent, 10);

$searchResults-subBarCallToActionLink-color: darken($muted-accent, 20);
$searchResults-informationLink-color: darken($muted-accent, 20);

$property-contactUsBackground-color: $orange;
$property-mortgageCalculatorButtonBackground-color: $black;

$secondaryFooter-background-color: #DBD2BB;
$secondaryFooter-text-color: $black;
$secondaryFooter-link-color: $accent;

$rgFooter-background-color: #DBD2BB;
$rgFooter-text-color: $black;

$molly-footer-color: white;