@import 'color-library';

$accent: #490E6F;

$navigation-link-color: $accent;

$landscapeSearch-advancedSearchLink-color: $accent;

$secondaryFooter-background-color: #E9E9E9;
$secondaryFooter-text-color: $black;
$secondaryFooter-link-color: $accent;

@import 'var-lib';
