@import 'color-library';

$accent: #400000;

$navigation-link-color: $accent;

$landscapeSearch-searchButtonBackground-color: $accent;
$landscapeSearch-advancedSearchLink-color: $accent;

$property-contactUsBackground-color: #DC8E00;

$secondaryFooter-background-color: #DAD0B8;
$secondaryFooter-text-color: $black;
$secondaryFooter-link-color: $accent;

@import 'var-lib';
