@import 'color-library';

$accent: $matisse;

$navigation-background-color: darken(white, 6);

$navigation-link-color: $accent;

$landscapeSearch-searchBackground-color: white;
$landscapeSearch-searchBackground-opacity: .95;

$landscapeSearch-advancedSearchLink-color: $accent;

$primaryFooter-background-color: #4389A2;

$secondaryFooter-background-color: darken(white, 10);
$secondaryFooter-text-color: $black;
$secondaryFooter-link-color: $accent; 

$rgFooter-background-color: darken(white, 12);
$rgFooter-text-color: $black;

@import 'var-lib';
