$white: #FFF;
$grey: #e0e0e0;
$dark-grey: #67717B;
$grey-sidebg: #C6C6C6;
$lt-grey: darken(white, 5);
$black: #444;

$green: #0DAC02;
$new-green: darken(#408B36, 10);
$mute-green: #477444;
$dark-green: #093301;
$green-grey: #e3eee2;

$lavender: #C50AFF;
$muted-lavender: #5E336B;

$blue: #14A2F6;
$mute-blue: #637589;
$dark-blue: #38424E;
$deep-blue: #1b1bb7;
$matisse: #33687D;
$blue-with-green: #245c98;

$red: #790102;
$mute-red: #532E30;
$dark-red: #3B1014;

$orange: #DE730D;
$mute-orange: #A7711B;

$brown: #FFF0E0;
$dark-brown: #633503;
